@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(to right top, #65dfc9, #6cdbeb); */
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    box-shadow: 8px 8px 0 rgb(32 33 37 / 10%);
}

.displayContainer{
    height: 80vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.displayTop, .displayBottom{
    height: 49%;
    width: 99%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2em);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outputTop, .outputBottom{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.outputBottom{
    flex-direction: row;
    justify-content: center;
}

.displayContainer p{
    font-size: 3em;
}
.userInput{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 10vh;
    width: 50%;
}
.userInput button{
    height: 4vh;
    width: 10vw;
    border: transparent;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: .25em;
    margin-top: 2vh;
    box-shadow: 4px 4px 0 rgb(32 33 37 / 10%);
    cursor: pointer;
}
.userInput input{
    height: 20vh;
    font-size: 2.5em;
    text-align: center;
}

#cityInput{
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: .5em;
    box-shadow: 4px 4px 0 rgb(32 33 37 / 10%);
}

#maxDeg{
    color: #cb1b16;
}
#minDeg{
    color: #1368aa;
}