* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    backdrop-filter: blur(2rem);
    box-shadow: 2px 1px 3px 1px rgb(0 0 0 / 50%);
    border:rgba(0, 0, 0, 0.7)
}

.output{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.output p{
    font-size: 3em;
}
.userInput{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 15ch;
}
.userInput button{
    height: 3em;
    width: 13em;
}